.nav-bar{
    display: flex;
    height: 90px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #d6dad2;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-left: 40px;
    width: 100%;
}

.nav-icon{
    height: 50px;
    width: 50x;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-left: 50px;
}

.nav-icon:hover{
    cursor: pointer;
}

.links{
    text-decoration: none;

}

.cat-link{
    color:black
}

.nav-part-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;    
}

.nav-search{
    margin-left: 10px;
    height: 23px;
    width: 23px;

}


.nav-user-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:350px; 
    margin-right: 50px;
}

.nav-heart-icon{
    height: 23px;
    width: 23px;
}
.a-link{
    text-decoration: none;
}
.nav-linkedin{
    color: #966034;
    width: 182px;
    height: 47px;
    border: 2px solid #c7a279;
    text-align: center;
}

.nav-linkedin-bold{
    margin-top: 5px;
    font-weight: bolder ;
}

.nav-linkedin:hover{
    cursor: pointer;
}

.nav-person-icon{
    height:25px;
    width: 24px;
}

.nav-sign-in:hover {
    cursor: pointer;
}

.nav-logout{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.nav-shopping-bag{
    height: 25px;
    width: 23px;
}