.show-container-all{
    display: flex;
    justify-content: space-between;
    margin-right: 150px ;
    margin-top: 40px;
    margin-left: 150px;
    padding: 30px 30px 0px;
}

.show-details-container{
    display: flex;
    flex-direction: column;
    width: 426px;
    height: 653px;
}

.show-header-one{
    display: flex;
    justify-content: space-between;
}

.show-designer{
    font-size: 27px;
    font-weight: bold;
    font-family: 'Nanum Myeongjo', serif;
}

.show-heart{
    width: 18px;
    height: 14px;
}

.show-title{
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom:20px;

}

.show-header-two{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    color: #c5c5c5;

}

.show-retail{
    font-size: 13px;
    color: #999999
}

.show-rent-section{
}

.show-rent-header{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.show-rent-box{
    border-top: 5px solid black;
    border-left:  1px solid #dddddd;
    border-right:  1px solid #dddddd;
    border-bottom:  1px solid #dddddd;
    background-color: #F7F7F7;
    width: 426px;
    height: 97px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    p{
        margin-left: 40px;
    }
  
}

.show-p-top{
    margin-top: 15px;
}

.show-p-bottom{
    font-weight: bold;
}

.show-extra-details{
    margin-top: 20px;
    span{
        font-family: 'Quicksand', sans-serif;
        font-size: 12px;
        color: #818180;
        font-weight: bold;
    }

    img{
        width: 11px;
        height: 11px;
    }

    div{
        padding-top: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dddddd
    }
}

.show-deets{
    display: flex;
    justify-content: space-between;
}

.show-hidden-info{
    padding-top: 10px;
}

#show-linkedin{
    padding-top: 10px;
    height: 30px;
    width: 30px;
}