.show-left{
    display: flex;
    position: relative;
}

.show-gallery-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85px;
    height: 500px;

    img{
        width: 90px;
        height: 110px;
    }
}

.cursor:hover{
    cursor: pointer;
}

.show-product-container{
    display: flex;
    width: 435px;
    height: 653px;
}