.products-entire-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 20px 50px;
    margin-top: 125px;
}



.filter-container{
    width: 320px;

}

// .row{
//     display: flex;
//     justify-content: space-between;
//     width: 960px;
// }

.products-container{
        width: 960px;
}
.products-header{
    font-size: 30px;
    margin-bottom: 30px;
}

.products-view-all{
    color: black
}

.products-count{
    color: #A2A2A2
}

// .products-all-parent{
//     // display: flex;
//     // justify-content: space-between;
//     width: 960px;
// }

.products-all{
    display: flex;

    flex-flow: row wrap;
}

// .products-all>* {
//         flex: 1 1 260px;
//     }